.group__container {
  position: absolute;
  right: 0;
}

.group__main {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group__main-text {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}

.group__discover {
  padding: 10px;
  position: absolute;
  right: 0;
}

.group__discover-item {
  border-radius: 10px;
  background-color: #242526;
  color: #fff;
  padding: 5px 20px 20px 20px;
}

.group__discover-text {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.group__discover-prev,
.group__discover-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.group__discover-prev {
  left: 10px;
  top: 50%;
}

.group__discover-next {
  right: 10px;
  top: 50%;
}
