@media only screen and (max-width: 992px) {
  .friendManager__container {
    display: none;
  }

  .userManager__container {
    display: none;
  }

  .contentManager__container {
    width: 100%;
    left: 5px !important;
  }

  .contentManager {
    padding: 20px 5px 20px 20px !important;
  }

  .upStatus_container-input span {
    font-size: 14px;
  }

  .upStatus_container-child span {
    font-size: 14px;
  }

  .newsItem-all {
    right: 0;
  }
}

/* @media only screen and (max-width: 768px) {
  .news__container-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }
} */

@media only screen and (max-width: 400px) {
  .upStatus_container-input span {
    font-size: 12px;
  }

  .upStatus_container-child span {
    font-size: 12px;
  }
}
